{% extends('base.html') %}

{% block title %}{{ super() }} &ndash; Come To Matilda{% endblock title %}

{% block content %}

<h1>Merry Christmas Janine!!</h1>
<h2>I think you're magical.</h2>
<img src="{{ url_for('static', filename='img/matilda-book.jpg') }}"></img>
<h2>Will you come to Matilda The Musical with me?</h2>
<div class="btns btn-group">
  <a class="btn btn-success btn-large" href="{{ url_for('will_come') }}">Yes</a>
  <a class="btn btn-danger btn-large" href="{{ url_for('wont_come') }}">No</a>
</div>

{% endblock content %}
