{% extends('base.html') %}

{% block title %}{{ super() }} &ndash; Curses!{% endblock title %}

{% block content %}

<h1>Curses!</h1>
<img src="{{ url_for('static', filename='img/trunchbull-hammer.jpg') }}"></img>
<div class="tell-michael">
  <form action="{{ url_for(request.endpoint) }}" method="POST">
    <h4>You'd better let me know the tragic news:</h4>
    <input type="hidden" name="subject" class="hidden" value="{{ subject }}">
      <textarea name="body">{{ default_message }}</textarea>
      <p class="soft-text">(Feel free to change the message.)</p>
      <div>
        <input class="btn btn-success" type="submit" name="submit" value="Tell Michael">
      </div>
  </form>
  <div class="sending-email"></div>
  <div class="sent-email">
    <h4>Hmm, I'm gonna have to come up with something better then.</h4>
    <h4>I still think you're incredible.</h4>
  </div>
</div>

{% endblock content %}
